header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 12rem;
  background-color: white;
}
header .logo-header {
  grid-column: 2/3;
  justify-self: center;
  margin-top: 10px;
}
header .logo-header a {
  text-decoration: none;
}
header .logo-header a .logo {
  height: 10rem;
}
header .access {
  grid-column: 3/4;
  align-self: center;
  justify-self: end;
  flex-flow: column;
}
header .access .cart {
  margin: 15px;
}
header .access .login {
  margin: 15px;
}

.main-footer {
  background-color: #fa5363;
  margin-top: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.main-footer span {
  padding: 1rem;
}
.main-footer .social {
  top: 15px;
  margin: 20px;
  height: 35px;
  width: 35px;
}
.main-footer .social:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Mutka";
  src: url("../fonts/Mukta-Medium.ttf");
}
body {
  font-family: "Mutka", sans-serif;
}

main {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  object-fit: contain;
}

h1 {
  text-align: center;
}

h2 {
  margin: 20px;
}

.navbar {
  background-color: #fa5363;
}

/* Index */
.banner {
  margin-top: 10px;
}

h1 {
  padding: 15px;
  margin: 10px 30px 10px 30px;
}

.destacados {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}

.destacados-cont {
  margin-bottom: 50px;
}

.destacados-img {
  max-width: 280px;
  height: auto;
  margin: 8px;
}

.categories-box {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.categories-container {
  align-items: center;
  justify-content: center;
  width: 50%;
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 250px);
  gap: 25px;
}

.categorie {
  width: 250px;
  list-style: none;
}

.categorie:hover {
  transform: scale(0.8);
  transition: all 0.5s;
  box-shadow: 3px 3px 6px #adacab;
}

.item-prom {
  grid-column: 1/2;
  justify-self: end;
}

.item-com {
  grid-column: 2/3;
}

.item-nov {
  grid-column-start: 1;
  grid-row-start: 2;
  justify-self: end;
}

.item-opo {
  grid-column-start: 2;
  grid-row-start: 2;
}

.ubicacion {
  display: flex;
  justify-content: end;
  margin-top: 80px;
  flex-direction: row;
  margin: 25px;
}

.ubicacion p {
  display: flex;
  justify-self: center;
  align-items: baseline;
  width: 20%;
}

/* Fin index*/
/* Productos */
.catalog {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin: 30px auto;
}

.product-item {
  height: 410px;
  overflow: hidden;
}

.product-img {
  width: auto;
  height: 400px;
  margin: 5px;
}

.product-item div {
  align-items: center;
  margin: 4px;
}

.product-item h2 {
  text-align: center;
}

.description {
  margin: 30px;
  text-align: center;
}

.price {
  text-align: center;
  margin: 10px;
}

.product-item div a {
  color: black;
  background-color: #cac2c2;
  border-radius: 5%;
  padding: 5px;
}

.product-item:hover {
  box-shadow: 3px 3px 6px #b1b0b0;
  transform: scale(1.05);
  transition: all 0.5s;
  background-color: white;
  height: auto;
}

/*Fin productos*/
/*Pagos*/
.pagos {
  margin: 35px;
}

.envios {
  margin: 35px;
}

.lista-pagos-envios {
  list-style: square;
}

.lista-pagos-envios li {
  margin-bottom: 15px;
}

#mapa-envios {
  margin: 25px;
  height: 500px;
  width: 500px;
}

/*Fin pagos*/
/*Contacto*/
.contacto {
  margin: 30px;
  text-align: center;
}

.contacto nav ul li {
  list-style: none;
}

/*Fin contacto*/
/*Carrito*/
.cart-product {
  margin: 35px;
}

.cart-img {
  height: 150px;
}

.boton-pago {
  margin: 0px 30px 30px;
}

/*Fin carrito*/
/*mobile*/
@media screen and (max-width: 480px) {
  .menu-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .menu {
    justify-self: center;
    align-items: center;
    margin: 2px;
  }

  .main-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .main-footer span {
    grid-column: 1/4;
    justify-self: center;
  }

  .main-footer a {
    justify-self: center;
  }

  .destacados-img {
    max-width: 150px;
  }

  .categories-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .ubicacion {
    flex-direction: column;
  }

  .ubicacion p {
    width: 90%;
  }

  .map1 {
    justify-content: center;
  }

  .catalog {
    display: flex;
    flex-wrap: wrap;
  }

  #mapa-envios {
    margin: 10px;
    width: 350px;
    height: auto;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  .categories-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .catalog {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #mapa-envios {
    margin: 10px;
    width: 450px;
    height: auto;
  }

  .main-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .main-footer span {
    grid-column: 1/4;
    justify-self: center;
  }

  .main-footer a {
    justify-self: center;
  }
}

/*# sourceMappingURL=styles.css.map */
